.todoList{
    border: 1px solid #bfbfbf;
    border-radius: 8px;
}

.todoItem{
    font-size: 2.5rem;
    padding: 5px;
    border-bottom: 1px solid #bfbfbf;
    background: rgba(0, 255, 247, 0.25);
}

.todoItem:first-child{
    border-radius: 8px 8px 0 0;
}

.todoItem:last-child{
    border-radius: 0 0 8px 8px;
    border: none;
}