.search{
    border: 1px solid #ccc;
    font-size: 2rem;
    font-family: inherit;
    width: 100%;
    border-radius: 8px;
    padding: 5px 34px 5px 5px;
}

.searchPanel{
    width: 100%;
    position: relative;
    margin-right: 10px;
}

.searchDecoration{
    font-size: 2rem;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: gray;
}