.taskInput{
    border: 1px solid #ccc;
    font-size: 2rem;
    padding: 5px;
    font-family: inherit;
    width: 100%;
    border-radius: 8px;
    margin: 8px 0;
}

.taskButton{
    border-radius: 8px;
    border: 1px solid #bfbfbf;
    padding: 3px 6px;
    background: #1976E2;
    color: white;
    font-size: 2rem;
    margin: 8px 0 8px auto;
    display: block;
}