.innerTodo{
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
    color: #262626
}

.innerTodo button i{
    font-size: 2rem;
    padding: 5px;
}

.innerTodo button:last-child{
    margin-right: 0;
}

.todoButtons button{
    border-radius: 6px;
    border: 2px solid;
    cursor: pointer;
    transition: all .3s ease;
    margin-right: 5px;
}

.done{
    background: #fff;
    color: #00FF4D;
    border-color: #00FF4D;
}

.done:hover{
    background: #00FF4D;
    color: #fff;
    border-color: #00FF4D;
}

.importantBtn{
    background: #fff;
    color: #f1f102;
    border-color: #f1f102;
}

.importantBtn:hover{
    background: #f1f102;
    color: #fff;
    border-color: #f1f102;
}

.delete{
    border-color: #F31309;
    color: #F31309;
    background: #fff;
}

.delete:hover{
    background: #F31309;
    color: #fff;
    border-color: #F31309;
}

.todoContent .fa-star{
    color: #f1f102;
    margin-left: 5px;
}

.completed .todoContent span{
    text-decoration: line-through;
}

.important .todoContent{
    color: steelblue;
}

.todoButtons {
    min-width: 115px;
}

@media screen and (max-width: 480px){
    .innerTodo{
        flex-direction: column;
    }
}